BTVN
1. Hoàn thành bài tập trên sao cho đoạn có thể chạy mượt mà và chính xác

2. Cho bộ dữ liệu sau:howlongwelive
2.1 Tôi muốn biết có bao nhiêu cột và bao nhiêu hàng
2.2 Tôi muốn biết ds tên của các cột
2.3 Thử dùng df.["status"]
2.4 Cho tôi biết có bao nhiêu nước đang phát triển và bao nhiêu nước phát triển
2.5 Tính min, max, mean, medium của alcohol
2.6 
- Bài 1: Đếm những hàng có rượu nhiều hơn mức trung binh và liệt kê những quốc qua độc đáo này
- Bài 2: Lấy ds quốc gia có trình độ học vấn cao hơn mức trung bình và GDp cao hơn mức trung bình 0

In [1]:
import pandas as pd

# Đọc file CSV
file_path = "howlongwelive.csv"
df = pd.read_csv(file_path)  # Đúng biến df thay vì data

# Kiểm tra thông tin cơ bản của dữ liệu
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 22 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          2938 non-null   object
 1   Year                             2938 non-null   int64
 2   Status                           2938 non-null   object
 3   Life expectancy                  2928 non-null   float64
 4   Adult Mortality                  2928 non-null   float64
 5   infant deaths                    2938 non-null   int64
 6   Alcohol                          2744 non-null   float64
 7   percentage expenditure           2938 non-null   float64
 8   Hepatitis B                      2385 non-null   float64
 9   Measles                          2938 non-null   int64
 10   BMI                             2904 non-null   float64
 11  under-five deaths                2938 non-null   int64
 12  Polio                            2919 non-null   float64
 13  Total expenditure                2712 non-null   float64
 14  Diphtheria                       2919 non-null   float64
 15   HIV/AIDS                        2938 non-null   float64
 16  GDP                              2490 non-null   float64
 17  Population                       2286 non-null   float64
 18   thinness  1-19 years            2904 non-null   float64
 19   thinness 5-9 years              2904 non-null   float64
 20  Income composition of resources  2771 non-null   float64
 21  Schooling                        2775 non-null   float64
dtypes: float64(16), int64(4), object(2)
memory usage: 505.1+ KB

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
# Kiểm tra số hàng và số cột
num_rows, num_cols = df.shape
print(f"Số hàng: {num_rows}")
print(f"Số cột: {num_cols}")

Số hàng: 2938
Số cột: 22

In [3]:
# 2.2: Lấy danh sách tên các cột
column_names = df.columns.tolist()
print("Danh sách tên cột:", column_names)

Danh sách tên cột: ['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality', 'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population', ' thinness  1-19 years', ' thinness 5-9 years', 'Income composition of resources', 'Schooling']

In [4]:
# 2.3: Kiểm tra dữ liệu trong cột "Status"
print(df["Status"].head())

0    Developing
1    Developing
2    Developing
3    Developing
4    Developing
Name: Status, dtype: object

In [5]:
# 2.4: Đếm số lượng nước đang phát triển và nước phát triển
status_counts = df["Status"].value_counts()
print("Số lượng nước phát triển:", status_counts.get("Developed", 0))
print("Số lượng nước đang phát triển:", status_counts.get("Developing", 0))

Số lượng nước phát triển: 512
Số lượng nước đang phát triển: 2426

In [9]:
# 2.5: Tính min, max, mean, median của Alcohol
min_alcohol = df["Alcohol"].min()
max_alcohol = df["Alcohol"].max()
mean_alcohol = df["Alcohol"].mean()
median_alcohol = df["Alcohol"].median()
print(f"Min Alcohol: {min_alcohol}")
print(f"Max Alcohol: {max_alcohol}")
print(f"Mean Alcohol: {mean_alcohol}")
print(f"Median Alcohol: {median_alcohol}")

Min Alcohol: 0.01
Max Alcohol: 17.87
Mean Alcohol: 4.602860787172012
Median Alcohol: 3.755

In [10]:
# 2.6 - Bài 1: Đếm các nước có mức tiêu thụ rượu cao hơn trung bình
high_alcohol_countries = df[df["Alcohol"] > mean_alcohol]["Country"].unique()
print(f"Số nước tiêu thụ rượu cao hơn mức trung bình: {len(high_alcohol_countries)}")
print("Danh sách các nước đó:", high_alcohol_countries)

Số nước tiêu thụ rượu cao hơn mức trung bình: 92
Danh sách các nước đó: ['Albania' 'Angola' 'Antigua and Barbuda' 'Argentina' 'Australia'
 'Austria' 'Bahamas' 'Barbados' 'Belarus' 'Belgium' 'Belize'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cabo Verde' 'Cameroon' 'Canada' 'Chile' 'China' 'Colombia'
 'Croatia' 'Cyprus' 'Czechia' 'Denmark' 'Dominican Republic'
 'Equatorial Guinea' 'Estonia' 'Finland' 'France' 'Gabon' 'Georgia'
 'Germany' 'Greece' 'Grenada' 'Guyana' 'Haiti' 'Hungary' 'Iceland'
 'Ireland' 'Italy' 'Japan' 'Kazakhstan' "Lao People's Democratic Republic"
 'Latvia' 'Lithuania' 'Luxembourg' 'Malta' 'Mexico' 'Mongolia'
 'Montenegro' 'Namibia' 'Netherlands' 'New Zealand' 'Nigeria' 'Norway'
 'Panama' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Republic of Korea' 'Republic of Moldova' 'Romania' 'Russian Federation'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Sao Tome and Principe' 'Serbia'
 'Seychelles' 'Slovakia' 'Slovenia' 'South Africa' 'Spain' 'Suriname'
 'Swaziland' 'Sweden' 'Switzerland' 'Thailand' 'Trinidad and Tobago'
 'Uganda' 'Ukraine' 'United Kingdom of Great Britain and Northern Ireland'
 'United States of America' 'Uruguay' 'Venezuela (Bolivarian Republic of)'
 'Zimbabwe']

In [11]:
# 2.6 - Bài 2: Quốc gia có trình độ học vấn và GDP cao hơn trung bình
mean_schooling = df["Schooling"].mean()
mean_gdp = df["GDP"].mean()

high_edu_gdp_countries = df[(df["Schooling"] > mean_schooling) & (df["GDP"] > mean_gdp)]["Country"].unique()
print(f"Số nước có trình độ học vấn và GDP cao hơn trung bình: {len(high_edu_gdp_countries)}")
print("Danh sách các nước đó:", high_edu_gdp_countries)

Số nước có trình độ học vấn và GDP cao hơn trung bình: 69
Danh sách các nước đó: ['Antigua and Barbuda' 'Argentina' 'Australia' 'Austria' 'Azerbaijan'
 'Bahrain' 'Barbados' 'Belarus' 'Belgium' 'Botswana' 'Brazil'
 'Brunei Darussalam' 'Bulgaria' 'Canada' 'Chile' 'China' 'Colombia'
 'Costa Rica' 'Croatia' 'Cyprus' 'Denmark' 'Estonia' 'Finland' 'France'
 'Gabon' 'Germany' 'Greece' 'Grenada' 'Hungary' 'Iceland' 'Ireland'
 'Israel' 'Italy' 'Japan' 'Kazakhstan' 'Kuwait' 'Latvia' 'Lebanon' 'Libya'
 'Lithuania' 'Luxembourg' 'Malaysia' 'Maldives' 'Malta' 'Mauritius'
 'Mexico' 'Netherlands' 'New Zealand' 'Norway' 'Oman' 'Panama' 'Poland'
 'Portugal' 'Qatar' 'Romania' 'Russian Federation' 'Saudi Arabia'
 'Seychelles' 'Singapore' 'Slovenia' 'South Africa' 'Spain' 'Suriname'
 'Sweden' 'Switzerland' 'Trinidad and Tobago' 'Turkey'
 'United Arab Emirates' 'Uruguay']